html {
  cursor: default;
  color: #000;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }
  html body {
    margin: 0; }
    html body main {
      margin: 0 50px;
      padding: 5px 10px;
      border-right: 1px dotted #000;
      border-bottom: 1px dotted #000;
      border-left: 1px dotted #000;
      background-color: #fff8c6; }
    html body .form {
      font-size: 30px;
      width: 480px;
      border: 1px solid black; }
      html body .form .input {
        display: flex;
        width: 460px;
        margin: 5px 10px; }
        html body .form .input label {
          font-size: 20px;
          width: 140px;
          display: block; }
      html body .form label {
        display: flex;
        width: 460px;
        margin: 0 10px; }
        html body .form label input[type="checkbox"] {
          display: block;
          height: 27px;
          width: 27px; }
        html body .form label span {
          display: block;
          width: 410px;
          font-size: 20px; }
      html body .form input {
        border-radius: 0; }
      html body .form input[type="date"],
      html body .form input[type="email"],
      html body .form input[type="number"],
      html body .form input[type="password"],
      html body .form input[type="text"] {
        display: block;
        width: 300px;
        margin: 0 10px; }
      html body .form input[type="submit"] {
        cursor: pointer;
        background-color: #fff;
        width: 100%;
        height: 50px;
        margin: 10px 20px;
        font-size: 20px; }
        html body .form input[type="submit"]:hover {
          background-color: #eee; }
      html body .form.register_form {
        margin: 100px auto 0; }
      html body .form.login_form {
        width: 400px;
        margin: 100px auto 0; }
        html body .form.login_form .input {
          width: 380px; }
        html body .form.login_form label {
          width: 60px; }
      html body .form.offer_form {
        margin: 0 auto;
        border: none; }
    html body .offer {
      display: block;
      color: #fff;
      background-color: #a85a27;
      margin: 5px 0;
      border: 3px solid #000;
      padding: 5px; }
      html body .offer:hover {
        text-decoration: none;
        background-color: #974916; }
  html a {
    text-decoration: none;
    color: #0057ff; }
    html a:hover {
      text-decoration: underline; }
  html .btn {
    display: block;
    width: 100%;
    margin: 5px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s ease-in;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 100%; }
    html .btn:hover {
      text-decoration: none; }
    html .btn.green-btn {
      width: 300px;
      height: 50px;
      color: white;
      background-color: #4CAF50; }
      html .btn.green-btn:hover {
        color: #000; }
    html .btn.black-btn {
      width: 200px;
      height: 50px;
      color: white;
      background-color: #000; }
      html .btn.black-btn:hover {
        color: white; }
  html .response {
    position: absolute;
    z-index: 9999;
    top: 15%;
    right: 0;
    left: 0;
    display: none;
    max-width: 50%;
    min-height: 200px;
    max-height: 70%;
    margin: 0 auto;
    padding: 15px 30px 60px;
    color: #000;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 5px 23px -7px rgba(163, 185, 197, 0.77); }
    html .response .accept-response {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 5px auto; }
  html .blur {
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(69, 77, 91, 0.6); }
  html .dark {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    background: #333; }
  html .center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    text-align: center; }
  html .main-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold; }
  html .center-screen {
    display: flex;
    height: 95vh;
    align-items: center; }

/*# sourceMappingURL=main.css.map */
