@import 'mini-reset';
@import 'grid';
@import 'loading';
$color_1: #000;
$color_2: #fff;
$background_1: url('../images/dark_wood.png');
$background_2: url('../images/shl.png');
$background_3: url('../images/footer_lodyas.png');
@mixin generateForm($width) {
    width: $width;
    padding: 10px 5px;
    color: $color_1;
    border: 1px solid black;
    background: $background_2;
    font-size: 30px;

    .input {
        display: flex;
        width: $width - 30px;
        margin: 5px 10px;

        label {
            display: block;
            width: $width - 330px;
            font-size: 20px;
        }
    }

    > label {
        display: flex;
        width: 460px;
        margin: 0 10px;

        input[type="checkbox"] {
            display: block;
            width: 27px;
            height: 27px;
        }

        span {
            display: block;
            width: 410px;
            font-size: 20px;
        }
    }


    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="text"],
    textarea {
        border-radius: 0;
        display: block;
        width: 300px;
        margin: 0;
        min-width: 300px;
        max-width: 300px;
    }

    input[type="submit"] {
        width: 100%;
        height: 50px;
        margin: 10px 20px;
        cursor: pointer;
        background-color: #fff;
        font-size: 20px;

        &:hover {
            background-color: #eee;
        }
    }
}

html {
    cursor: default;
    color: $color_2;
    background: $background_1;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    body {
        margin: 0;

        main {
            margin: 0 50px;
            padding: 5px 10px;
            color: $color_1;
            background: $background_2;
        }

        a {
            text-decoration: none;
            color: rgb(0, 87, 255);

            &:hover {
                text-decoration: underline;
            }
        }

        .register_form {
            @include generateForm(480px);
            margin: 100px auto 10px;
        }

        .login_form {
            @include generateForm(380px);
            margin: 100px auto 10px;
        }

        .offer_form {
            @include generateForm(480px);
            margin: 0 auto;
        }

        .participate_form {
            @include generateForm(520px);
            margin: 0 auto;
        }

        .offer {
            display: block;
            margin: 5px 0;
            padding: 5px;
            color: $color_2;
            border: 3px solid #000;
            background: $background_3;

            &:hover {
                text-decoration: none;
                background-color: #974916;
            }
        }
    }

    .btn {
        display: block;
        width: 100%;
        height: 50px;
        margin: 5px;
        padding: 13px 30px;
        cursor: pointer;
        transition: 0.3s ease-in;
        text-align: center;
        text-decoration: none;
        color: white;
        border: none;
        font-size: 100%;

        &:hover {
            text-decoration: none;
        }

        &.green-btn {
            background-color: #4CAF50;

            &:hover {
                background-color: #5DBF61;
            }
        }

        &.black-btn {
            background-color: #000;

            &:hover {
                background-color: #111;
            }
        }

        &.purple-btn {
            background-color: #6d0ccd;

            &:hover {
                background-color: #7e1dde;
            }
        }
    }

    .response {
        position: absolute;
        z-index: 9999;
        top: 15%;
        right: 0;
        left: 0;
        display: none;
        max-width: 50%;
        min-height: 200px;
        max-height: 70%;
        margin: 0 auto;
        padding: 15px 30px 60px;
        color: #000;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 5px 23px -7px rgba(163, 185, 197, .77);

        .accept-response {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 300px;
            border-radius: 5px;
            margin: 5px auto;
        }
    }

    .blur {
        position: fixed;
        z-index: 9998;
        top: 0;
        right: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(69, 77, 91, 0.6);
    }

    .dark {
        padding: 10px;
        color: #fff;
        border-radius: 10px;
        background: #333;
    }

    .center {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        align-self: center;
    }

    .h1 {
        display: block;
        margin: 5px auto;
        padding: 10px;
        text-align: center;
        color: $color_2;
        background: $background_1;
        font-size: 35px;
        font-weight: bold;
    }

    .h2 {
        font-size: 30px;
    }

    .center-screen {
        display: flex;
        height: 95vh;
        align-items: center;
    }

    .info {
        border: 1px dashed $color_2;
    }
}
